<nav class="navbar navbar-expand-lg navbar-dark bg-dark dorime">
  <a class="navbar-brand" href="/">
    <%= image_tag 'logo' , class: "" , width: "60", height: "45"%>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse color-0" id="navbarColor02">
    <ul class="navbar-nav mr-auto color-0">
      <li class="nav-item color-0">
        <a class="nav-link" href="#">FERRETERIAS</a>
      </li>
      <li class="nav-item color-0">
        <%= link_to "MISION VISION", home_informacion_path, class: "nav-link" %>
      </li>
      <li class="nav-item color-0">
        <%= link_to "SERVICIOS", home_servicios_path, class: "nav-link" %>
      </li>
      <li class="nav-item color-0">
        <a class="nav-link" href="https://wa.me/573126655007?text=Me%20Interesa%20El%20Desarrollo%20Que%20Estás%20Haciendo" target="_blank">SOBRE NOSOTROS</a>
      </li>
      <li class="nav-item color-0">
        <a class="nav-link" href="#">LOCALES</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 color-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Buscar">
      <button class="btn btn-outline-info my-2 my-sm-0" type="button">Buscar</button>
    </form>
  </div>
</nav>
