<% if !notice.nil? %>
    <div class="alert alert-dismissible alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4 class="alert-heading">Noticia!</h4>
      <p class="mb-0"><%= notice %></p>
    </div>
<%end%>
<% if !alert.nil? %>
    <div class="alert alert-dismissible alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4 class="alert-heading">Alert!</h4>
      <p class="mb-0"><%= alert %></p>
    </div>
<%end%>
