<div class="text-center my-3  ">
  <div class="slibtn">
    <%= link_to "", edit_imagen_path(img), class: "fa fa-wrench btn btn-warning", title: "Editar?"%>
    <%= link_to '', [img], method: :delete, data: { confirm: "Estas Seguro?" }, class:"fa fa-trash  btn btn-danger", title: "Eliminar?"%>
  </div>
</div>
