/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require style
 *= require font-awesome
 */
 @import "bootstrap";
 @import "toastr/toastr.min.css";
 * {
   box-sizing: border-box;
   text-decoration:none;
   list-style:none;
   margin:0;
   padding:0;
 }
a:link, a:visited, a:active {
    text-decoration:none;
}
#myForm{
  display: none;
}
.footer{
  background-color: #000000 !important;
}
 .dorime{
   background: black !important;
   border: 1px solid #5d5d5d;
   margin:0;
 }
 .color-0{
   background: #000 !important;
 }
 .color-1{
   color: #258a9d;
 }
 .jaja{
   display: none !important;
 }
 .ir-arriba{
   display: none;
   padding: 20px;
   font-size: 20px;
   color: #fff;
   cursor: pointer;
   position: fixed;
   bottom: 35px;
   right: 20px;
   border-radius: 35px;
   border: 2px solid #f8006b;
   background: url('flecha2.jpg');
   background-size: cover;
 }
 .ir-arriba:hover{
   border: 2px solid #f8006b;
   -webkit-box-shadow: 13px 13px 31px -6px rgba(0,0,0,0.77);
   -moz-box-shadow: 13px 13px 31px -6px rgba(0,0,0,0.77);
   box-shadow: 13px 13px 31px -6px rgba(0,0,0,0.77);
 }

 .breadcrumbpropio{
   background: #ded9d9;
   border-radius: 6px;
   padding: 10px;
   margin-top: 15px;
 }

.aja{
  border-radius: 20px !important;
  padding: 10px;
}
.raya{
  background: white;
}
.form-sus{
  padding: 10px !important;
}
.form-control{
  border-radius: 20px !important;
  padding: 10px 15px 7px !important;
  color: black !important;
}
.label-sus{
  margin-left: 20px;
}
.btn{
  border-radius: 15px !important;
}
.carousel-inner {
  border-radius: 10px !important;
  // max-height: 450px; //esta es opcional pero hay que definirle el tamaño al slider ese mrk :v
}
